<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lz.spring.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="cn.lz.spring.po.DepartmentPo">
    <!--@mbg.generated-->
    <!--@Table department-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="code" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from department
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from department
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.lz.spring.po.DepartmentPo">
    <!--@mbg.generated-->
    insert into department (id, `name`, code)
    values (#{id}, #{name}, #{code})
  </insert>
  <insert id="insertSelective" parameterType="cn.lz.spring.po.DepartmentPo">
    <!--@mbg.generated-->
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="code != null and code != ''">
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null and name != ''">
        #{name},
      </if>
      <if test="code != null and code != ''">
        #{code},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lz.spring.po.DepartmentPo">
    <!--@mbg.generated-->
    update department
    <set>
      <if test="name != null and name != ''">
        `name` = #{name},
      </if>
      <if test="code != null and code != ''">
        code = #{code},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lz.spring.po.DepartmentPo">
    <!--@mbg.generated-->
    update department
    set `name` = #{name},
      code = #{code}
    where id = #{id}
  </update>

  <delete id="batchInsert">
  </delete>
</mapper>